[SETTINGS]
mining_runs = 5
mining_hold = 5000
mining_yield = 3
# this the default reset timer
mining_reset_timer = 120
# this the default hardener key, supply more hardeners with commaseparation, you can also comment out or blank it out to disable shield hardeners
hardener_keys = F3
# this is the default warping time to belt in seconds, increase this value if necessary
warping_time = 70
# uncomment this if you have this configured
#unlock_all_targets_key = Ctrl-Alt-T
# take screenshot after unloading cargo
take_screenshots = True

[POSITIONS]
undock_coo = 100, 200
clear_cargo_coo = 300, 400
target_one_coo = 700, 800
target_two_coo = 900, 1000
mouse_reset_coo = 1100, 1200
warp_to_coo = 1300, 1400
mining_coo = 1500, 1600
	1700, 1800
	1900, 2000
	

